.body {
  margin: 20px;
}

#availabilityList {
  padding-top: 10px;
}

#downloadCalIcon, #locationLink {
  padding-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

#datepicker, #lookupAvailabilitiesButton {
  margin-left: 10px;
}

#lookupAvailabilitiesButton {
  cursor: not-allowed;
}
