.body {
  margin: 20px;
}

#availabilityList {
  margin-top: 10px;
}

#downloadCalIcon, #locationLink {
  padding-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

#dropdownContainer, #datepickerContainer, #lookupAvailabilitiesButton {
  margin-right: 10px;
  margin-bottom: 10px;
}

#lookupAvailabilitiesButton {
  cursor: not-allowed;
}

#bookingAction, #availabilityAction {
  margin: 10px;
}
