{% extends "policon/layout.html" %}

{% load static %}

{% block script %}
<script src="{% static 'policon/policon.js' %}"></script>
{% endblock %}

{% block body %}
<div id="availabilitySelector">
  <div class="dropdown">
    <button id="dropdownTaskButton" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Task
    </button>
    <div id="taskDropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    </div>
  </div>
  <div id="availabilityList">
  </div>
</div>
{% endblock %}
