{% load static %}

{% load i18n %}

<script src="{% static 'policorp/bookonthefly.js' %}" type="module"></script>

<div id="bookOnTheFlyContainer">
  {% if user.is_supervisor %}
  <h5>{% translate 'Book on the fly' %}</h5>

  <div class="locationSelector d-flex flex-row align-items-center">
    <label class="form-check-label">
      {% translate 'Where' %}:&nbsp;
    </label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% translate 'Select location' %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      </div>
    </div>
  </div>

  <div class="taskSelector d-flex flex-row align-items-center">
    <label class="form-check-label">
      {% translate 'What' %}:&nbsp;
    </label>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% translate 'Select activity' %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      </div>
    </div>
  </div>

  <div class="dateTimePickerContainer d-flex flex-row align-items-center">
    <label class="form-check-label">
      {% translate 'When' %}:&nbsp;
    </label>
    <input name="datetime" width="312" />
  </div>

  <div class="noteContainer d-flex flex-column">
    <label class="form-check-label">
      {% translate 'Note' %}:
    </label>
    <textarea class="note"></textarea>
  </div>

  <div class="buttonContainer">
    <button class="btn btn-primary" disabled>{% translate 'Book' %}</button>
  </div>

  {% else %}
  {% translate 'Unauthorized' %}
  {% endif %}
</div>
