{% load static %}

{% load i18n %}

<script src="{% static 'policorp/bookonthefly.js' %}" type="module"></script>

<div id="bookOnTheFlyContainer">
  {% if user.is_supervisor %}
  <h5>{% translate 'Book on the fly' %}</h5>

  <div class="locationSelector">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% translate 'Select location' %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      </div>
    </div>
  </div>

  <div class="taskSelector">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% translate 'Select activity' %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      </div>
    </div>
  </div>

  {% else %}
  {% translate 'Unauthorized' %}
  {% endif %}
</div>
