.body {
  margin: 20px;
}

#taskList {
  padding-top: 10px;
}

#locationLink {
  padding-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

#lookupBookingsButton, #createSingleAvailabilityButton {
  cursor: not-allowed;
}

#configLocationSelector,
#configTaskSelector,
#configDatepickerContainer,
#configTimepickerContainer,
#createSingleAvailabilityButton,
#configExtendCheckContainer,
#configUntilTimepickerContainer,
#configRepeatDaysCheckContainer,
#daysOfWeekContainer,
#configUntilDatepickerContainer,
#scheduleHeading {
  margin-top: 10px;
}

#configUntilTimepickerContainer {
  display: none;
}

#locationSelector, #datepickerContainer , #lookupBookingsButton, #locationDailyOccupancyChart {
  margin-right: 10px;
  margin-bottom: 10px;
}

#dailyOccupancyBarChart {
  height: 100px;
}

#locationDailyOccupancyChart {
  height: 120px;
}

.note {
  font-style: italic;
}

.actionButton {
  margin: 10px;
}

#bookOnTheFlyContainer .dropdown {
  margin-top: 10px;
}
