:root {

  --clr-dark: #393e46;
  --clr-accent: #00adb5;
  --clr-normal: #aad8d3;
  --clr-light: #eeeeee;

}

.body {
  margin: 20px;
  max-width: 75%;
}

.navbar {
  background-color: var(--clr-dark);
}

#taskList {
  padding-top: 10px;
}

#locationLink {
  padding-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

#lookupBookingsButton, #createSingleAvailabilityButton {
  cursor: not-allowed;
}

#configLocationSelector,
#configTaskSelector,
#configDatepickerContainer,
#configTimepickerContainer,
#createSingleAvailabilityButton,
#configExtendCheckContainer,
#configUntilTimepickerContainer,
#configRepeatDaysCheckContainer,
#daysOfWeekContainer,
#configUntilDatepickerContainer,
#scheduleHeading {
  margin-top: 10px;
}

#configUntilTimepickerContainer {
  display: none;
}

#locationSelector, #datepickerContainer , #lookupBookingsButton {
  margin-right: 10px;
  margin-bottom: 10px;
}

#dailyOccupancyBarChart {
  height: 100px;
}

#locationDailyOccupancyChart {
  height: 120px;
}

.note {
  font-style: italic;
}

.actionButton {
  margin: 10px;
}

#bookOnTheFlyContainer .locationSelector, .taskSelector, .noteContainer, .dateTimePickerContainer, .buttonContainer {
  margin-top: 10px;
}

#bookOnTheFlyContainer .note {
  padding: 10px;
  resize: none;
  max-width: 400px;
  height: 100px;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}

.bookingContainer {
  background-color: var(--clr-accent);
}

.availabilityContainer {
  background-color: var(--clr-light);
}
