.body {
  margin: 20px;
}

#taskList {
  padding-top: 10px;
}

#locationLink {
  padding-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

#datepicker, #lookupBookingsButton {
  margin-left: 10px;
}

#lookupBookingsButton, #createSingleAvailabilityButton {
  cursor: not-allowed;
}

#locationSchedule, #configLocationSelector, #configTaskSelector, #configDatepickerContainer, #configTimepickerContainer, #createSingleAvailabilityButton {
  margin-top: 10px;
}
